img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile-photo img {
    transition: transform 0.3s ease-in-out;
  }
  
  .profile-photo img:hover {
    transform: scale(1.1);
  }
  